extend template

block navigation
	a(href="http://", target="_blank")
		h1.logo
			|Logo da empresa
		img(src="images/logo.png", alt="")
	a(href="http://", target="_blank") Loja
	a(href="http://", target="_blank") Contato
	a(href="http://", target="_blank") login

block home
	section
		article.container.fast-promo
			p
				i.flaticon-delivery18
				|Entregas de graca nas compras acima de R$ 100,00 e brinde de lancamento do site.

	section.packages
		article.container
			hgroup
				h2.
					Trabalhamos para trazer o melhor da fazenda pra sua mesa.
				h3.
					Escolha uma das opcoes abaixo ou va para a loja <a href="">clicando aqui</a>
			ul.boxes
				li
					h3.
						Promoções <br/>
						<span> Verdes da estação de melhor qualidade </span>
					img(src=$imgPath + "/basket.jpg", alt="", class="boxes-images")
				li
					h3.
						Cestas <br/>
						<span> Cestas personalizadas para você </span>
					img(src=$imgPath + "/boxes.jpg", alt="", class="boxes-images")
				li
					h3.
						Assinaturas <br/>
						<span> Assine e receba sempre </span>
					img(src=$imgPath + "/basket.jpg", alt="", class="boxes-images")

	section.vantagens
		article.container
			div.division
				span
					img(src=$imgPath + "/food.jpg", alt="")
			h2.
				Vantagens que damos a nossos clientes
			ul
				li
					figure.vtg
						img(src=$imgPath + "/man.jpg", alt="")
						figcaption
							h3.
								Qualidade e Frescor em todos os nossos produtos.
				li
					figure(class="vtg even")
						img(src=$imgPath + "/li03.jpg", alt="")
						figcaption
							h3.
								Entrega agenda e garantida por nossa empresa.
				li
					figure(class="vtg")
						img(src=$imgPath + "/li02.jpg", alt="")
						figcaption
							h3.
								Cestas com vegetais e frutas para todos.