- var $imgPath="/images";
- var $biblioteca="";

doctype html 
html
    head
        meta(charset="utf-8")
        title|Erva.com
        meta(name="description", content="")
        meta(name="keywords", content="")
        // CSS
        link(rel='stylesheet', href=$biblioteca + 'css/bootstrap.min.css')
        link(rel='stylesheet', href=$biblioteca + 'css/main.css')
    body
        .wrapper
            
            header
                nav.container
                    block navigation

            section.banner
                article.container
                    ul
                        li                            

            #main(role="main")
                block home
            
            footer
                section.container
                    article.maps
                    article.sitemap